<div class="profile-card">
  <div class="profile-avatar">
    <img 
      src="{{user.avatarURL}}"
      alt="{{user.name}}'s avatar"
    >
  </div>

  <div class="profile-info">
    <h1>{{user.name}}</h1>
    {{#if (isOwner currentUser._id user._id)}}
      <p>{{user.email}}</p>
    {{else}}
      {{#if user.isEmailPublic}}
        <p>{{user.email}}</p>
      {{/if}}
    {{/if}}

    {{#if (isOwner currentUser._id user._id)}}
      <a href="/profile/edit" class="btn btn-outline-primary edit-profile-btn">
        <i class="fa-solid fa-pen"></i> Edit profile
      </a>
    {{/if}}

    <div class="profile-stats">
      <div class="stat">
        <span class="stat-value">{{postsLikes}}</span>
        <span class="stat-label">{{pluralize postsLikes "Like" "Likes"}} on posts</span>
      </div>
      <div class="stat">
        <span class="stat-value">{{commentsLikes}}</span>
        <span class="stat-label">{{pluralize commentsLikes "Like" "Likes"}} on comments</span>
      </div>
    </div>
  </div>
</div>

<div class="user-posts" id="feed-container"
  data-page="{{postsPage}}" 
  data-limit="{{limit}}" 
  data-total-pages="{{totalPages}}">
  {{#if (gt posts.length 0)}}
    {{#each posts}}
      {{> postCard post=this currentUser=../currentUser s3Enabled=../s3Enabled}}
    {{/each}}
  {{else}}
    {{#if (isOwner currentUser._id user._id)}}
      <p>You didn't make any posts yet, how about you <a href="/feed">create a new one?</a></p>
    {{else}}
      <p>User has no posts.</p>
    {{/if}}
  {{/if}}
</div>

<!-- pagination UI (server can render numbers; JS will hook to them) -->
<nav id="pagination" aria-label="Page navigation" class="mt-3">
  {{!-- optional server-side page links; you can render numeric pages or Prev/Next --}}
  {{#if (gt totalPages 1)}}
    <ul class="pagination justify-content-center">
      {{#if (gt postsPage 1)}}
        <li class="page-item"><a class="page-link" href="/profile{{#unless (isOwner currentUserId user._id)}}/{{user._id}}{{/unless}}?postsPage={{subtract postsPage 1}}">Previous</a></li>
      {{/if}}
      {{#each (range 1 totalPages)}}
        <li class="page-item"><a class="page-link {{#if (eq ../postsPage this)}}active{{/if}}" href="/profile{{#unless (isOwner ../currentUserId ../user._id)}}/{{../user._id}}{{/unless}}?postsPage={{this}}">{{this}}</a></li>
      {{/each}}
      {{#if (lt postsPage totalPages)}}
        <li class="page-item"><a class="page-link" href="/profile{{#unless (isOwner currentUserId user._id)}}/{{user._id}}{{/unless}}?postsPage={{add postsPage 1}}">Next</a></li>
      {{/if}}
    </ul>
  {{/if}}
</nav>